<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

    <div class="content max-width-1 m-auto">
        <div class="content-left">
            <h1>Bloggers Site</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In excepturi totam eius ipsum laborum a architecto sint sapiente maiores nisi.</p>
        </div>

        <div class="content-right">
            <img src="img/image1.jpg" alt="">
        </div>
    </div>

    <div class="max-width-1 m-auto">
        <hr>
    </div>

    <div class="article max-width-1 m-auto">

    </div>

